<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449892615895-70q31digpan47lmpjtqdbk3t6nhpe6ah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449892615895-70q31digpan47lmpjtqdbk3t6nhpe6ah</string>
	<key>API_KEY</key>
	<string>AIzaSyAewOAdUA4lkBdjpA-ukDB2fIJUx1wF4wQ</string>
	<key>GCM_SENDER_ID</key>
	<string>449892615895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppingStore</string>
	<key>PROJECT_ID</key>
	<string>ctse-online-shopping-store</string>
	<key>STORAGE_BUCKET</key>
	<string>ctse-online-shopping-store.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449892615895:ios:eda13733e28587d9fbd292</string>
</dict>
</plist>